<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/navbar.ejs')  %> 

    <main class="container py-3">

        <div class="d-flex align-items-center gap-2 mb-4">
            <h1 class="text-center text-lg-start">My Blogs</h1>
            <a class="btn btn-success" href="/create">Create</a>
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gap-2 justify-content-center justify-content-lg-start">
            <% if (blogs.length===0) { %>
                <h1>No Blogs</h1>
                <% } else { %>
                <% blogs.forEach(element=> { %>
                    <a href="/blogs/<%= element._id %>" class="card blog col shadow-sm blog text-decoration-none">
                        <div class="card-body px-1 py-3">
                            <h5 class="card-title h2 text-success">
                                <%= element.title %>
                            </h5>
                            <p class="card-text text-dark">
                                <%= element.snippet %>
                            </p>
                        </div>
                    </a>
                    <% }) %>
                <% } %>
        </div>
        
    </main>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>